
<div class="modal fade" id="detailMovieModal"  tabindex="-1" aria-labelledby="detailMovieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="movie-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <iframe class="modal-player" height="400" id="movie-player" src="about:blank"></iframe>
            <p class="modal-p-release" id="movie-release-date"></p>
            <p class="modal-p-genre" id="movie-genres"></p>
            <p class="modal-p-release" id="movie-release-info"></p>
            <p class="modal-p-overview" id="movie-overview"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-danger rounded-pill" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
    </div>
</div>